[2016-03-17 07:30] appleboy opened #1 "Add unit test"

[2016-03-17 09:21] #1 closed

[2016-03-18 01:06] appleboy opened #2 "Test RefreshHandler"

[2016-03-18 01:06] appleboy opened #3 "Test parseToken"

[2016-03-18 02:26] #3 closed

[2016-03-18 02:58] #2 closed

[2016-03-18 02:59] appleboy opened #4 "Add Authorizator Test"

[2016-03-18 03:11] #4 closed

[2016-03-18 03:19] appleboy opened #6 "Add Test Claims During Authorization"

[2016-03-18 05:11] #6 closed

[2016-03-19 01:13] appleboy opened #8 "Add readme and example"

[2016-03-19 01:14] appleboy opened #9 "Add code coverage."

[2016-03-19 03:18] #8 closed

[2016-03-19 05:47] #9 closed

[2016-03-20 08:02] appleboy opened #12 "Authenticator support return user id."

[2016-03-20 10:26] #12 closed

[2016-04-03 16:11] appleboy opened #14 "Improve check Middleware config."

[2016-04-03 16:34] #14 closed

[2016-04-04 04:12] appleboy opened #16 "Add gofight for testing."

[2016-04-04 11:36] #16 closed

[2016-04-06 13:57] appleboy opened #18 "Support unauthorized method."

[2016-04-06 14:50] #18 closed

[2016-04-13 08:20] tomasvolta opened #21 "Typo"
Hi thanks for this.
I'm using this middleware but can't help notice the typo here. Thanks!

https://github.com/appleboy/gin-jwt/blob/master/auth_jwt.go#L143

[2016-04-13 09:11] appleboy commented on #21
@tomasvolta I will fix it. THanks.

[2016-04-14 03:07] #21 closed

[2016-04-14 03:07] appleboy commented on #21
@tomasvolta Please update gin-jwt by following command.

[code]

[2016-04-18 08:54] centralepharma opened #23 "Can't find how to access user from protected route"
I'm trying to access the current userId from a very simple /me route returning the currently logged user informations. I've read in your code that it's supposed to be set at the key "userId" in c, but c.Get("userId") tells me it doesn't exist in my context. What am I doing wrong ?

in main :
[code]

my handler :
[code]

Thx !

[2016-04-18 09:49] centralepharma commented on #23
OMG, I'm just so a beginner with go…
[code]

[2016-04-18 15:01] appleboy commented on #23
Hi @centralepharma

Please try the following code:

[code]

[2016-04-18 15:32] philippecarle opened #25 "different Authorizator depending on Router Groups"
Hi,

(thx for having merged so quickly my PR on Context injection ^^)

I'm facing an issue, and I think it may be a functional / logical problem in Authorization implementation and / or limitations cause by lack of informations about groups in gin.Context.

For example, here are my groups definitions for admin/users :
[code]

By using your Authorizator callback, I have to be aware of two informati

[2016-04-20 06:31] appleboy commented on #23
@centralepharma Any updates?

[2016-04-23 14:02] #23 closed

[2016-04-23 14:03] appleboy commented on #23
@centralepharma if you have any updates, please reopen this issue.

[2016-04-27 06:27] appleboy opened #26 "Support Max Refresh token setting."

[2016-04-30 15:11] #26 closed

[2016-06-17 13:00] MethDamon opened #28 "Change type of Token Claims"
Hi,

The JWT implementation library you use (https://github.com/dgrijalva/jwt-go) has recently introduced some changes that break some parts of your libary. I think it's just one change (token.Claims is not a map[string]interface{} anymore, but an own type of the dgrijalva library (https://github.com/dgrijalva/jwt-go/blob/master/MIGRATION_GUIDE.md). It would be really great if you could fix this.

[2016-06-17 15:59] appleboy commented on #28
I will take it. Thanks for your friendly reminder.

[2016-06-18 13:00] MethDamon commented on #28
No problem, thanks for looking into it!

[2016-07-04 15:27] miko-code opened #30 "Panic on refresh_token"
Hi ,
Im trying to run the refresh token handler  and it`s get panic on the converting of

`	origIat := int64(token.Claims["orig_iat"].(float64))
`

It look like the claim is nill.

[code]

[2016-07-06 05:10] appleboy commented on #30
@miko-code I will take it.

[2016-07-06 07:01] #30 closed

[2016-07-06 08:16] appleboy commented on #30
@miko-code Fixed. Please update your package.

[2016-07-06 14:47] appleboy opened #32 "Add parse token from query or cookie"
* [x] query
* [x] cookie
* [x] header (default)

[2016-07-07 09:02] appleboy opened #33 "Support jwt-go to v3 version"
gin-jwt `v1` for jwt-go v2
gin-jwt `v2` for jwt-go v3

[2016-07-07 13:45] #33 closed

[2016-07-07 13:50] appleboy commented on #28
@MethDamon I release `v2.0.0` version which support jwt-go `v3`.

https://github.com/appleboy/gin-jwt#v2-version

[2016-07-07 13:50] #28 closed

[2016-07-07 16:19] appleboy opened #35 "Replace log.Fatal() with 500 error response"
https://github.com/appleboy/gin-jwt/blob/master/auth_jwt.go#L109

[2016-07-07 16:20] appleboy opened #36 "errors should always be lower case"
https://github.com/golang/go/wiki/CodeReviewComments#error-strings

[2016-07-09 06:06] #36 closed

[2016-07-09 07:26] #35 closed

[2016-07-30 14:37] Chaofanman opened #39 "Unable to post from postman"
I have a problem posting on postman, my headers are Content-Type: application/json and my body (I've tested both form-data and form-url-encoded) key=value are: username: chaofanman password:password and it doesn't work. I always get {"code":400,"message":"Missing Username or Password"}.  However, when i post using httpie it is totally find. It also works on raw as a json however. What am i doing w

[2016-08-10 01:55] #39 closed

[2016-09-02 22:05] painhardcore opened #40 "Fix readme or import"
Need fix Readme or code, example/server.go imports "github.com/appleboy/gin-jwt" and i don't have it because

Install gin-gwt v2 version for jwt-go v3 version. To get the package, execute:

$ go get gopkg.in/appleboy/gin-jwt.v2

[2016-09-03 00:09] #40 closed

[2016-09-03 00:09] appleboy commented on #40
@painhardcore Done!

[2016-09-03 00:09] appleboy commented on #40
@painhardcore Update the example code.

[2016-09-09 06:25] appleboy opened #42 "Support 1.7.1 testing."

[2016-09-09 06:44] #42 closed

[2016-09-10 08:33] #32 closed

[2016-12-26 18:25] DonMcNamara opened #45 "userID vs. username in LoginHandler"
I'm not convinced this is even an issue. Feel free to disregard.

The LoginHandler function and GinJWTMiddleware function signatures are a little misleading.

For example:
- `Authenticator` has a parameter named `userID`, but it is passed the `loginValus.Username`.
- `PayloadFunc` has a parameter named `userID`, but it is passed the `loginValus.Username`, even if the Authenticator function returns

[2017-01-03 11:26] emildcorpse commented on #45
that is the same issue when I tried to explain the parameter of authenticator.

[2017-02-13 01:13] Yaxian opened #50 "the gin-gonic version is different."
Hi, @appleboy

last tag `v2.1.1`, you use  `github.com/gin-gonic/gin`, but the latest `v2.1.2` you use `gopkg.in/gin-gonic/gin.v1`, the change will broke the program who use `github.com/gin-gonic/gin`

[2017-02-13 01:16] appleboy commented on #50
@Yaxian Why the change broke the program? Just update your vendor folder.

[2017-02-13 01:22] Yaxian commented on #50
[code]

[2017-02-13 01:36] appleboy opened #51 "Switch glide to govendor"

[2017-02-14 02:47] bryant24 opened #52 "refresh token MaxRefresh question."
Hi, I  set  Timeout  and MaxRefresh  all to 1 minutes,when  token expired after one minute,I use old token in the header and request refresh_token api but  still return expired.
If I use ajax to request my api, but found token  expired,ajax need request refresh_token to get a new one,but response said  expired,so how to resolve it?? thx!

[2017-02-14 02:56] bryant24 commented on #52
I see in the example script:
[code]
when use refresh_token,first to validate token in the authMiddleware.MiddlewareFunc()? Maybe that's the reason.

[2017-02-14 03:08] #51 closed

[2017-02-14 08:50] appleboy commented on #50
Could you try https://github.com/appleboy/gin-jwt/blob/master/example/server.go example? I can't reproduce this issue.

[2017-02-14 14:28] Yaxian commented on #50
I can't reproduce the issue. thanks! @appleboy

[2017-02-14 14:28] #50 closed

[2017-02-22 06:12] tngan opened #55 "TokenLookup accepts multiple methods"
Is it a good practice to allow the lookup having multiple methods instead of a single method only ?

[2017-02-22 08:21] appleboy commented on #55
What is your scenario? I can implement this feature.

https://github.com/appleboy/gin-jwt/blob/master/auth_jwt.go#L59-L66

Support multiple methods as following

[code]

separated with `,` symbol

[2017-02-22 15:22] tngan commented on #55
@appleboy Just want to know if it is a good practice to relax the constraint.

[2017-02-22 15:31] appleboy commented on #55
@tngan I think to depend on your scenario.

[2017-03-22 01:58] htwenning opened #57 "Authorization header accept custom prefix"
in jwtFromHeader method, auth header must be "Bearer", can customize it when init ( add more to TokenLookup ?)

[2017-03-22 03:45] appleboy opened #58 "Revert gopkg.in to github.com"

[2017-03-22 03:57] appleboy commented on #57
I will take this.

[2017-03-22 04:02] #58 closed

[2017-03-22 06:23] #57 closed

[2017-03-22 06:26] appleboy commented on #57
@htwenning Try to change `TokenHeadName` value.

[2017-03-24 08:29] dhdresser opened #63 "Why is Authenticator func a required?"
Thanks for creating this great jwt middleware. Authenticator func is only called by LoginHandler(). If I want to write MyOwnLoginhandler() where I create my own claims and signing, I wouldn't need to set Authenticator then, but it is requirement set in the MiddlewareInit(). Right now I set Authenticator to return "", true.

Question... Would moving the check for Authenticator == nil in MiddlewareI

[2017-03-30 08:30] quentin-sommer opened #64 "Use with gin v1"
Hi,

I get a signature error while using it with the gin package `"gopkg.in/gin-gonic/gin.v1"`

However If i change gin-jwt gin import from `"github.com/gin-gonic/gin"` to `"gopkg.in/gin-gonic/gin.v1"` it works.

What's the best practice here ?

[2017-03-30 08:35] appleboy commented on #64
Hi, @quentin-sommer

I recommend you change `gopkg.in/gin-gonic/gin.v1` to `github.com/gin-gonic/gin`

see https://github.com/gin-gonic/gin/issues/828

[2017-03-30 12:13] quentin-sommer commented on #64
It worked, thank you!

[2017-03-30 12:13] #64 closed

[2017-03-30 12:41] jbfm commented on #52
`RefreshHandler()` doesn't work if the token has expired. The underlying JWT library (gopkg.in/dgrijalva/jwt-go.v3) fails the token if it's expired. So gin-jwt never reaches `RefreshHandler()` if the token has expired, regardless of the `MaxRefresh` setting.

[2017-04-04 07:08] appleboy commented on #63
@dhdresser Thanks for feedback. I will take it.

[2017-04-04 07:28] #63 closed

[2017-04-04 07:30] appleboy commented on #63
@dhdresser bump to v2.3.1

[2017-04-09 18:02] ShayanJa opened #72 "Doesn't build in DOcker"
HI i have a BAAS that i built using your gin-jwt to authenticate routes. It works just fine in localhost,
running it using "go run server.go" , However when i build it using docker i get this error message.

src/work/xprincipia/backend/gin/jwt.go:34: cannot use func literal (type func(string, string, *"gopkg.in/gin-gonic/gin.v1".Context) (string, bool)) as type func(string, string, *"github.com/gi

[2017-04-10 01:05] appleboy commented on #72
@ShayanJa Please change `gopkg.in/gin-gonic/gin.v1` to `github.com/gin-gonic/gin`. See the issue from gin repository.

https://github.com/gin-gonic/gin/issues/828

[2017-04-10 01:10] ShayanJa commented on #72
That was the very first thing i did, but It caused different issue, but i figured it out, i pushed the older version i had locally to a github repository and used that for my docker build. thanks for the help

[2017-04-10 01:10] #72 closed

[2017-05-10 12:15] lukeramsden opened #73 "Documentation on accessing payload"
How do I access the JWT payload? Nothing seems to work and it isn't documented. #23 didn't work.

[2017-05-10 14:33] lukeramsden opened #74 "Identity Handler? What is it?"
And how does it work? Seems like a few functions are really badly documented.

[2017-05-10 14:42] #74 closed

[2017-05-23 14:57] 0x4E69676874466F78 commented on #73
[code]
?

[2017-05-25 18:46] lukeramsden commented on #73
@0x4E69676874466F78 The claims are just empty

[2017-05-25 18:53] lukeramsden commented on #73
That worked, thanks.

[2017-05-25 18:53] #73 closed

[2017-06-13 05:52] lemos1235 opened #75 "the Demo for Login API command is error..."
It should be "http -v --json POST localhost:8000/login username=admin password=admin", or "curl -v -X POST -H "Content-Type: application/json" -d '{"username":"admin","password":"admin"}' localhost:8000/login"

[2017-06-18 14:45] 345161974 commented on #75
@lemos1235 Yes, U're right. the command in demo is error.

![command_compare](https://user-images.githubusercontent.com/3973297/27261550-cb39ef56-5477-11e7-8723-749319ac5811.png)

[2017-06-18 15:49] #75 closed

[2017-06-18 15:49] appleboy commented on #75
@lemos1235 @345161974 Fixed in #76 Thanks All.

[2017-06-18 15:50] appleboy opened #77 "upgrade drone config to 0.7 version."

[2017-06-19 06:08] 345161974 commented on #39
@gabrielchase
maybe you should check the postman setting.
with postman I get the token. below is the setting.
![gin-jwt-postman](https://user-images.githubusercontent.com/3973297/27271682-b2ceed5a-54f8-11e7-8d01-6574f34b743b.png)

[2017-06-23 07:37] #77 closed

[2017-07-02 19:05] nd2s opened #79 "Allow guest access to "protected" routes"
I'm trying to just get session information into my handlers. For that I want a route to be accessible by authorised users as well as guests. Can `gin_jwt` library handle this situation? I'm not sure how to avoid the `auth header empty` error.

[2017-07-06 17:46] cristianchaparroa commented on #73
Well, I'm doing something wrong cause I can't retrieve the `userId` information, I've the following in my handler

[code]
This is the endpoint declaration
[code]

And this is the authMiddleware
[code]

[2017-07-06 17:50] lukeramsden commented on #73
@cristianchaparroa This is what I did to fix that:

[code]

[2017-07-06 18:04] cristianchaparroa commented on #73
@lukeramsden but the `JWT_PAYLOAD`  does mean that you need to specify the payload function?

[2017-07-06 18:24] cristianchaparroa commented on #73
@lukeramsden  if I implement the code that you told me,  the `c.Get("JWT_PAYLOAD")` return a boolean parameter that is in false, then it's does mean that `JWT_PAYLOAD` is not set. What is wrong?

[2017-07-06 18:31] lukeramsden commented on #73
@cristianchaparroa Here is my codebase if you want to take a look https://github.com/lukeramsden/go-blog

[2017-07-06 18:33] lukeramsden commented on #73
`JWT_PAYLOAD` is set by `authMiddleware.MiddlewareFunc()` (actually in the `middlewareImpl` function).

[2017-07-06 19:50] cristianchaparroa commented on #73
@lukeramsden  @0x4E69676874466F78  @appleboy  I don't know what is wrong but I cant retrieve anything with `c.Get("JWT_PAYLOAD")` is always nil `interface conversion: interface {} is nil, not jwt.MapClaims`

[2017-07-06 19:53] lukeramsden commented on #73
Do you have your full code on GitHub @cristianchaparroa ?

Also, have you got the auth middleware on the router?

[2017-07-06 20:05] cristianchaparroa commented on #73
@lukeramsden  unfortunately I can't share all the code but I share some part the code,  https://gist.github.com/cristianchaparroa/1727d58a9aec8e39a394ed93980ecdea, https://gist.github.com/cristianchaparroa/238c250c61d9485a6624506992802d14

[2017-07-06 21:46] lukeramsden commented on #73
@cristianchaparroa On line 29 of `server.go`, you seem to be running your own function BEFORE the auth middleware, could you try putting `authMiddleware.MiddlewareFunc()` first?

[2017-07-06 22:15] cristianchaparroa commented on #73
@lukeramsden  you are right! this works, thanks a lot!

[2017-07-13 18:46] MarcusMann commented on #45
This is very strange

[2017-07-25 22:56] ShayanJa opened #81 "Can I set The timeout time so tokens never expire?"
I want the user to be logged out after a week of not using the site. How can I do this?

[2017-07-27 07:41] chy373 opened #82 "return a code in loginhandler"
loginhandler Reply will be of the form {"token": "TOKEN", "expire": "xxx-xx"}, how about add a code to it, just like when we failed on authrention

[2017-07-27 08:32] appleboy commented on #82
I will take it.

[2017-08-02 13:40] fronbasal opened #83 "How do I get the username of the logged in user?"
I am currently dealing with the problem of fetching the username in the auth route group.
How do I do that?

[2017-08-02 16:04] nisargap opened #84 "How do you get claims within a route?"
I would like to access the current identity of the authenticated user in an authenticated route what is the procedure for doing this (it seems like this is not documented)?

[2017-08-02 16:09] nisargap commented on #84
https://godoc.org/github.com/appleboy/gin-jwt
Just saw the ExtractClaims method

[2017-08-02 16:09] #84 closed

[2017-08-02 16:10] nisargap commented on #83
https://godoc.org/github.com/appleboy/gin-jwt
There is an ExtractClaims method that takes in a  gin context you can use that to get the authenticated user information stored in the token

[2017-08-02 17:34] fronbasal commented on #83
Thank you for the answer, but there are no methods for getting the username. Just for verifying the token. How to I get the username as a string?

[2017-08-02 19:46] nisargap commented on #83
The userId is stored in the claims as a string so if you do
[code]

[2017-08-02 19:56] fronbasal commented on #83
Thank you very much! This issue can be closed.

[2017-08-02 19:56] #83 closed

[2017-08-03 00:34] zhaowangdaren commented on #81
Refresh the token at the end of the week.

[2017-08-03 01:10] appleboy commented on #83
I will update the doc and add `how to get user information` section.

[2017-08-03 12:09] fronbasal commented on #83
That would be a great help!

[2017-08-03 12:29] ghiewa opened #85 "[Request] tangible TokenLookup, say support multiple lookup scheme"
functionality request, say multiple scheme,
'''
TokenLookup: "header:Authorization|query:token",
'''

[2017-08-04 03:30] appleboy commented on #83
@fronbasal I updated the example section. https://github.com/appleboy/gin-jwt#example

[2017-08-06 02:40] appleboy commented on #85
duplicated of https://github.com/appleboy/gin-jwt/issues/55

[2017-08-06 02:40] #85 closed

[2017-08-25 01:49] henjue opened #88 "can't use。"
![1](https://user-images.githubusercontent.com/1314740/29696317-a651d3c4-897a-11e7-88b1-1f55f8b62415.png)

[code]

[2017-08-25 02:17] henjue commented on #88
sorry,Because of the problems of gopath and govendor

[2017-08-25 02:17] #88 closed

[2017-10-23 16:39] nd2s commented on #79
Can you give a hint how this could be implemented?

[2017-10-26 17:24] eduardohitek opened #92 "User Info into Gin Default Logger"
Hi All, I'm trying to include the logged user info into Gin Default Log, but Go won't allow me to include the gin-jwt import into logger.go file, because it creates "import cycle".
Has anyone faced this?

Thanks in Advance.

[2017-11-14 05:43] charl opened #94 "Supporting additional params to the Authenticator"
At the moment the Authenticator has the following signature: func(username string, password string, c *gin.Context).

This works perfectly when you only have a username/password that you'd like to auth on. In our use case we have a username/password but also need to auth an OTP.

Even though the GIN context is being passed down to the Authenticator one does not have access to the c.Request.Body if

[2017-12-05 12:30] kweisamx commented on #82
I send the PR to fix it, please review,
thanks!

[2017-12-05 14:44] #82 closed

[2017-12-12 05:39] gonboy commented on #94
1. **maybe can add header.  change like this**
[code]
2.  **so you can  use like belown to get parameters**
[code]

[2017-12-12 07:54] gonboy opened #98 "How to revoke a valid token?"
I found this article [How to revoke a valid token? ](https://github.com/dgrijalva/jwt-go/issues/214)

Is there a way to revoke it?
I try refresh token, but failed.

how to do ?

[2017-12-12 13:04] #98 closed

[2017-12-13 00:43] gonboy commented on #81
even you refresh the token,  the old token is also can be use.
so maybe you can create a blacklist to block the old token

[2017-12-13 00:50] gonboy commented on #52
I found:
**Refreshing a token does not change the refresh period of the new token, the time period of still using the old token**
[code]

[2017-12-13 00:54] gonboy commented on #25
maybe you can  use belown method
[code]

[2017-12-15 19:47] davidchalifoux commented on #79
I'm also looking for more info on how to do this!

[2017-12-15 19:52] nd2s commented on #79
I ended up writing my own solution based on this library. Also threw out a lot of functionality I don't need.

I'm afraid this lib wasn't built to handle this use case and can't be easily extended as far as I can remember.

[2017-12-15 19:56] davidchalifoux opened #99 "What are realms?"
Hey, I'm new to JWT and Go in general. I'm confused as to what a `Realm` is in the context of JWT's. I've looked everywhere I could and `gin-jwt` seems to be the only place that references Realms. Could someone explain it to me?

[2017-12-17 13:21] ravone opened #100 "HTTP only cookie"
Is there any way to set token in cookie when authenticator callback fired?

[2018-01-13 09:45] Marlon-Monroy commented on #99
I think realms just refers to another claim in general, somebody correct me if im wrong.

[2018-01-13 09:46] Marlon-Monroy commented on #94
I think you would write your own handler instead. After all this only proves the very basics and most of the time you'll end up with more params or less.

[2018-01-20 11:28] wilbur-oo opened #105 "Overwrite the implementation in the original structure in other directory files."
对生成token后的操作

[2018-02-11 10:58] weiyuheng commented on #52
modify the RefreshHandler func catch the expired  err, like this:
`
	token, err := mw.parseToken(c)
	if err != nil && err.(*jwt.ValidationError).Errors != jwt.ValidationErrorExpired {
		mw.unauthorized(c, http.StatusUnauthorized, mw.HTTPStatusMessageFunc(err, c))
		return
	}
`
in my test, it can work, is it ok?

[2018-03-01 16:15] huyntsgs commented on #92
I think you can re-write logger.go and get userInfo from gin.Context (remember to put userInfo to gin.Context before so that your logger can use)

[2018-03-06 18:03] harunnryd opened #106 "Can i change response LoginHandler?"
i will change response LoginHandler :'(

[2018-03-26 07:30] tonyxyl opened #107 "since i refresh the auth token, the older one still works?"
this sounds like a joke.

[2018-03-26 14:09] DevAlone commented on #81
You can pass something like this to Timeout:

`Timeout:    time.Duration(24*365) * time.Hour, // one year`

I'm not sure if it's good solution, but it works :)

[2018-04-09 20:38] vasya4k opened #108 "Make gin-jwt return Authorization headers"
Just want to check if you would welcome a patch where gin-jwt would return Authorization headers for every request. This appears to be a standard for some frontend libraries. I can also make this behaviour configurable.

[2018-04-21 03:38] buildscientist opened #109 "RefreshHandler doesn't set default SigningAlgorithm"
Hello,

There's a bug in the RefreshHandler using the example code in the README.

If I do not set the SigningAlgorithm in my GinJWTMiddleWare struct - RefreshHandler passes a nil value to the JWT library.

See lines [392-393](https://github.com/appleboy/gin-jwt/blob/b98b512ed67b501994175b49a1adfc709b8702d5/auth_jwt.go#L392-L393) of auth_jwt.go

The LoginHandler calls MiddlewareInit - lines [209-2

[2018-04-21 03:46] buildscientist commented on #107
@tonyxyl I believe that's per JWT spec. There's no way for gin-jwt (or really the go-jwt library) to "expire" the token before it's expiry time/date.

Example:
Assuming your token expires in an hour - you call your LoginHandler and it returns a token that is set to expire in an hour.

5 minutes later you call the RefreshHandler - it returns a new token 1 hour from that point in time. Is the previo

[2018-05-01 22:53] blackout1208 opened #111 "Connect with facebook login"
Hi,

When I receive the facebook authorization through the callback how can I use his email to generate a new jwt with your library without using the context? Since we cannot add new body to the context...

I am trying to reuse my middleware, it uses your library.

[2018-05-17 13:38] syssam opened #113 "Why PayloadFunc is pass string?"
I think PayloadFunc should be pass a interface, not string.Because after Authenticator, we need store user info on claims.
Now, I need check 2 time on the database, Authenticator get the user, PayloadFunc get user again.

[2018-05-23 07:30] appleboy commented on #113
I will take this.

[2018-05-24 02:28] #113 closed

[2018-05-24 15:52] appleboy commented on #113
@syssam I know your point. I will create another PR to fix the use case.

[2018-05-25 15:48] appleboy commented on #108
PR Welcome :)

[2018-05-26 11:34] koolay commented on #55
It is a nice idea, header  token for mobile device and cookie for  browser.

[2018-05-26 17:35] MimmDev opened #120 "Vendor Gin conflict"
Not sure why this exactly this is being caused, but it occurs since the commit "feat: add vendor to git tree".

`cannot use c (type *"github.com/gin-gonic/gin".Context) as type *"github.com/appleboy/gin-jwt/vendor/github.com/gin-gonic/gin".Context in argument to "github.com/appleboy/gin-jwt".ExtractClaims`

[2018-05-27 02:07] appleboy commented on #120
@MimmDev I can't reproduce this problem. Can you show me the detail information or some example code?

[2018-05-27 02:09] appleboy commented on #92
This is not gin-jwt issue.

[2018-05-27 02:09] #92 closed

[2018-05-27 02:29] MimmDev commented on #120
Hi @appleboy, thanks for the quick reply!

The issue occurs when using jwt.ExtractClaims(c), where c is of type *gin.Context, used in my own package. To my knowledge, it happens because my package imports "github.com/gin-gonic/gin" and gin-jwt imports gin from its vendor folder, which technically means there are two types of *gin.Context (they are actually identical, but since they come from diffe

[2018-05-27 03:16] #106 closed

[2018-05-27 03:17] appleboy commented on #106
see the following config:

[code]

[2018-05-28 01:29] appleboy commented on #120
any updates?

[2018-05-28 08:01] tcr-ableton commented on #120
Hi, I'm running into the exact same problem since today. Everything was building perfectly fine on my last build friday :-)

I build the code inside a container with the `--no-cache` option. And my code basically looks like the example:
[code]

Any pointers on how to solve this?

[2018-05-28 08:10] appleboy commented on #120
@tcr-ableton

find:

[code]

replace:

[code]

[2018-05-28 08:15] tcr-ableton commented on #120
I've found out your friday's commit modifying the API in the meantime, and did the change you suggested. My current `Authenticator` looks like this now:
[code]

and gets the previously mentioned error about vendoring:
[code]

For reference, I made sure to start from a clean `GOPATH` :-)

[2018-05-28 08:40] appleboy commented on #120
Could you also help to try this example:

https://github.com/appleboy/gin-jwt/blob/abd83166c85e5251921dd1c76d6355c94fbd79ff/example/server.go#L1-L98

It is working for me with latest gin-jwt and gin framework version.

[2018-05-28 08:44] appleboy commented on #120
@MimmDev @tcr-ableton I found the issue. I will remove the vendor folder.

[2018-05-28 08:44] tcr-ableton commented on #120
I pasted your code into a `main.go` and `go build main.go` and get these errors (which look quite the same as before, just applied to a different piece of code):
[code]

I have tried with both go 1.8 and go 1.10.2 and same result :-)

[2018-05-28 08:45] tcr-ableton commented on #120
Great news! Thanks a lot for helping us out on this 👍

[2018-05-28 08:49] #120 closed

[2018-05-28 08:50] appleboy commented on #120
@tcr-ableton @MimmDev fixed in #124 Please try it out.

[2018-05-28 08:54] tcr-ableton commented on #120
It is indeed fixed thanks! 👍

[2018-05-30 19:54] BenKnigge opened #125 "TokenGenerator should now accept a parameter of type Interface"
TokenGenerator only accepts  type string but the payload function now accepts a parameter of type Interface. TokenGenerator should be updated to also accept type interface or a struct consisting of  an id string and an interface.

type TokenData struct {
    UserID string,
    Payload interface{}
}
Let me know your thoughts  and I could submit a pr

[2018-05-31 14:30] appleboy commented on #125
fixed in https://github.com/appleboy/gin-jwt/pull/126

[2018-05-31 14:33] #125 closed

[2018-06-01 08:17] Tsui89 opened #128 "In RefreshHandler, the new token use the old orig_iat?"
We set Timeout 1min, MaxRefresh 2min.
At begin we got a token:t1 use Login, at 1min30s we got another token:t2 use RefreshHandler by t1.
2min later, they cannot call RefreshHandler.
The new token use the old orig_iat?

[2018-06-05 03:06] andofcourse commented on #120
I'm still getting this issue - I'm using the example code:
[code]

and getting `cannot use func literal (type func(string, string, *gin.Context) (interface {}, bool)) as type func(string, string, *gin.Context) (string, bool) in field value`.

I'm not entirely sure where this is coming from - I've checked my vendor file and all that's inside of gin-jwt folder is auth_jwt.go, the makefile, readme an

[2018-06-07 08:19] appleboy commented on #100
See #131

[2018-06-09 02:56] bbriggs opened #132 "Example broken because authMiddleware Authenticator function signature changed"
When trying to build an authenticator function, I used the same function signature used in the documentation and passed that to the `jwt.GinJWTMiddleware` struct, but found that the function signature it wanted no longer matched. To verify that I wasn't imagining things, I grabbed your example, created a new directory and ran it, only to get this back:

[code]

Looks like we can't use `interface{}

[2018-06-09 02:58] bbriggs commented on #132
Upon further inspection, it appears I am indeed an idiot and `git blame` shows that this changed 15 days ago. Also, I think this revealed my gopath might be broken :(

[2018-06-09 13:36] #132 closed

[2018-06-10 19:35] RPiAwesomeness commented on #94
This is also an issue I'm running into, I need to extract data from the request JSON. Is there any way that we can override the function that's extracting the request JSON or make it so it returns the data? It would be really handy if we could provide a struct of our own to be filled instead of using the hardcoded Login object, since it's emptying the body buffer entirely.

[2018-06-14 04:35] rcholic opened #133 "c.ShouldBind(&loginVals) problem in auth_jwt.go"
I use the `LoginHandler` for my route/controller to handle user login, and the login credentials is POSTed in the form of json. I found this line 350 in auth_jwt.go problematic, as it throws `ErrMissingLoginValues` error.

[code]
After changing it to `c.ShouldBinJSON`, it works for me. Does anyone else have this problem, too?

[2018-06-14 06:58] appleboy commented on #133
@rcholic Could you post example code? It is working for unit testing.

see

https://github.com/appleboy/gin-jwt/blob/2897c31b882872a2634a4324b877054d3e541786/auth_jwt_test.go#L327-L342

[2018-06-14 15:13] rcholic commented on #133
When the `Content-Type` is not specified to **JSON** in the request, this `c.ShouldBind(&loginVals)` just returns error, leading to the problem I reported.

If you expect to receive JSON input, please use the explicit form `c.ShouldBindJSON(&loginVals)` in your code. Thank you

[2018-06-14 15:13] #133 closed

[2018-06-21 02:53] appleboy commented on #109
@buildscientist Thanks for report this issue. maybe we should add the following check in `RefreshHandler`.

[code]

[2018-06-21 03:34] appleboy commented on #109
closed #134. You can try the following example:

[code]

[2018-06-21 03:34] #109 closed

[2018-06-21 03:35] #105 closed

[2018-06-21 03:38] appleboy commented on #52
@weiyuheng You can't use refresh handler if the token is already expired.

[2018-06-21 07:29] #128 closed

[2018-06-21 08:49] nosfantasy opened #136 "how to override Login struct for change param name"
this type in auth_jwt.go, i want to change Username to Email how to override this

type Login struct {
	Username string `form:"username" json:"username" binding:"required"`
	Password string `form:"password" json:"password" binding:"required"`
}

[2018-07-06 20:31] ravone commented on #52
@gonboy this bug fixed at #135

[2018-07-07 00:52] takumi-n opened #138 "I suspect that Authenticator field isn't required."
The documented comment says

[code]

But I think it's not required if we don't use LoginHandler.

[2018-07-16 14:03] bjm88 opened #140 "Example of how to use PayloadFunc"
For example I want to store the users authorizations (roles/permissions) after login....I wasn't exactly clear how to do this with PayloadFunc or other way...would be great if example/docs explained, thx

[2018-07-17 01:07] appleboy commented on #140
See https://github.com/appleboy/gin-jwt/blob/master/auth_jwt_test.go#L667-L713

[2018-07-20 00:36] #55 closed

[2018-07-20 00:38] #140 closed

[2018-07-20 00:48] appleboy commented on #138
Yes. It is required if the server use `LoginHandler`.

[2018-07-31 03:45] chj050322 opened #142 "when use LoginHandler how to take field such as client_os_type(android or ios)、login_type (name+password or name + verify code) ?"

[2018-08-01 14:53] appleboy commented on #142
I will create an example that how to integrate with facebook login.

[2018-08-05 15:41] paradoxfm opened #143 "Example revoke token?"
How impliment  revoke token method?
Where i can call it?

[2018-08-06 11:03] andriisoldatenko commented on #143
@paradoxfm Could you please explain yourself?
in JWT you can't do it, it's "client side sessions", which means you can revoke all tokens changing private key, or change may be username/or any user data which inside JWT.
best

[2018-08-06 11:53] paradoxfm commented on #143
@andriisoldatenko I want revoke custom token
because i have on token for one client, but client has many entering points

[2018-08-09 08:50] UnAfraid opened #144 "gin.NoRoute causes jwt.ExtractClaims(ctx) to return empty jwt.MapClaims"
As title says gin.NoRoute causes jwt.ExtractClaims(ctx) to return empty jwt.MapClaims

[code]

And result is: `NoRoute claims: jwt.MapClaims{}`

Seems like the `middlewareImpl` is not being called

[2018-08-10 08:09] drsect0r commented on #52
Is it safe to assume that the below internal comment is wrong? Currently, it is only useful to have MaxRefreshlower then Timeout and by doing so limiting the time that the client can refresh a token instead of requesting a new one?

[code]

[2018-08-13 15:04] frranck opened #145 "Client example ?"
Hello,
Do you have a golang client example?

[2018-08-25 09:02] appleboy commented on #145
You can try the [gofight](https://github.com/appleboy/gofight) package and see the example in `auth_jwt_test.go`.

[2018-08-25 09:02] #145 closed

[2018-08-25 09:14] appleboy commented on #144
See the following example.

https://github.com/appleboy/gin-jwt/blob/3d7a696f4b423d32c37c006f9d3946f2fbf2c845/example/server.go#L108-L112

[2018-08-25 09:14] #144 closed

[2018-08-25 09:18] appleboy commented on #94
Hi @charl @Marlon-Monroy @RPiAwesomeness Now you can customer your `Authenticator` function. See the following example. I remove the `username string, password string` parameter.

https://github.com/appleboy/gin-jwt/blob/9ad0d889e6862356f48b836107fbc6d030e864ae/example/server.go#L49-L81

[2018-08-25 09:18] #94 closed

[2018-08-25 15:11] #108 closed

[2018-08-27 16:30] actumn opened #150 "Example Issue: Headers were already written. Wanted to override status code 400 with 401"
When I followed your changed example, I tested with json that doesn't contains required key (like `{"username":"admin"}`) and I met the warning log like below.
[code]
From below, because of field validation, Authenticator returns error and  `c.Bind` writes Content-Type header as "text/plain"
https://github.com/appleboy/gin-jwt/blob/0be8d339e41c34de92ebb05e960287a33e33c22f/example/basic/server.go#L

[2018-08-27 16:49] actumn opened #152 "Should delete other Claims["id"]"
Hi.
Updated by #147, claims["id"] was deleted in LoginHandler.
[code]
But claims["id"] still exists in [RefreshHandler](https://github.com/appleboy/gin-jwt/blob/0be8d339e41c34de92ebb05e960287a33e33c22f/auth_jwt.go#L434) and [TokenGenerator](https://github.com/appleboy/gin-jwt/blob/0be8d339e41c34de92ebb05e960287a33e33c22f/auth_jwt.go#L473).
Also, there is default IdentityHandler which returns claim

[2018-08-27 18:50] gabbottron opened #153 "MiddlewareInit() being called from LoginHandler"
Why is the MiddlewareInit function being called from the LoginHandler? When the authorized routes are being set up, MiddlewareFunc calls MiddlewareInit and returns the gin.HandlerFunc. I would assume initialization code should only be called when the program is starting up, but in the current implementation it is being called every time the login route is hit.

[2018-08-29 07:34] appleboy commented on #153
@gabbottron You are right. I will change the behavior.

[2018-08-29 07:37] appleboy commented on #150
fixed by https://github.com/appleboy/gin-jwt/pull/151

[2018-08-29 07:37] #150 closed

[2018-08-29 14:14] tomriddle1234 commented on #143
This function is necessary as many mature api service like firebase has the revoke feature.

I think it is possible to create a blacklist table of revoked tokens in memory. Maybe use a periodical check to release records in the table if expiration time reached.

So we can check if token already in blacklist each time received request, if so, return a 401 and make client login again, to get a new t

[2018-08-30 02:47] #152 closed

[2018-08-30 04:14] #153 closed

[2018-08-30 17:57] gabbottron opened #158 "Function signature mismatch for IdentityHandler()"
Using the basic server example in master, I implemented the IdentityHandler function with the required signature to satisfy the interface: IdentityHandler: func(claims jwt.MapClaims) interface{}

**I get this error:**  server.go:83:18: cannot use func literal (type func("github.com/appleboy/gin-jwt".MapClaims) interface {}) as type func("gopkg.in/dgrijalva/jwt-go.v3".MapClaims) interface {} in fie

[2018-08-31 00:52] appleboy commented on #158
@gabbottron So you just change

[code]

to

[code]

and MapClaims is open function defined in `auth_jwt.go`

https://github.com/appleboy/gin-jwt/blob/df10efdc5167e0a370b5ff5118363180e3298ed7/auth_jwt.go#L17

[2018-08-31 01:10] appleboy commented on #158
I got your point. Will make new PR to fix this issue.

[2018-08-31 03:07] appleboy commented on #158
See https://github.com/appleboy/gin-jwt/pull/159 PR

[2018-08-31 03:39] #158 closed

[2018-08-31 13:08] gabbottron commented on #158
Thanks! I really appreciate your work on this project. I'd be happy to
contribute :)

On Thu, Aug 30, 2018, 9:10 PM Bo-Yi Wu <notifications@github.com> wrote:

[2018-08-31 15:06] tomriddle1234 opened #160 "How to redirect after jwtMiddleware.LoginHandler ?"
I have a router like this, the ` jwtMiddleware.LoginHandler` can authenticate login fine, however I wish to redirect to home page after.
I intended to do
`userRoutes.POST("/login", jwtMiddleware.LoginHandler, redirectToIndexPage)`

and my redirectToIndexPage,

[code]

But this is not working and gin gives me like,
[code]
As you can see, it seems redirect happens before login gets return, it was sl

[2018-08-31 16:37] appleboy commented on #160
@tomriddle1234 you can define own LoginResponse function. See

https://github.com/appleboy/gin-jwt/blob/d31681b963c5bd248786b5974e4e29466f5369aa/auth_jwt.go#L65-L66

and the following is default behavior:

https://github.com/appleboy/gin-jwt/blob/d31681b963c5bd248786b5974e4e29466f5369aa/auth_jwt.go#L268-L276

[2018-09-01 05:12] tomriddle1234 commented on #160
I missed that in doc, thanks.

But I still have a noob question about this.

In such my own LoginResponse function, if I do redirect, why does it just append some html to current address ?

[code]

This will append "/" html aka the index page, after the json string of the default jwtMiddleware.LoginHandler as I saw it in the browser develop tool.

So I'm guessing that Gin is pipe lining  all handl

[2018-09-04 03:53] tomriddle1234 opened #161 "How about an XSRF-TOKEN?"
It appears that [this article](https://stormpath.com/blog/angular-xsrf) made clear that how to use the JWT token on client side.

Because gin-jwt sends back the token with httponly cookie, so it seems cannot be read with JS on client side.

So that when we want to send a request to a route that require JWT authentication, we need to prepare a custom "Bearer" header. But the JWT token must be read

[2018-09-07 05:34] Alireza-Ta opened #162 "Documentation on SendAuthorization?"
What's the purpose of this field?
Can you give an example ?
Thanks!

[2018-09-07 05:40] appleboy commented on #162
See https://github.com/appleboy/gin-jwt/issues/108

[2018-09-08 10:41] appleboy commented on #162
@Alireza-Ta I closed this issue. Please reopen if you have another problem.

[2018-09-08 10:41] #162 closed

[2018-09-10 02:39] appleboy commented on #161
See https://github.com/appleboy/gin-jwt/pull/164

[2018-09-12 12:50] actumn opened #167 "MapClaims and jwt.MapClaims"
Somewhere uses own MapClaims
https://github.com/appleboy/gin-jwt/blob/bfaf3eec539641d8b561361b957f44d3b1d6997a/auth_jwt.go#L60

And somewhere returns jwt.MapClaims
https://github.com/appleboy/gin-jwt/blob/bfaf3eec539641d8b561361b957f44d3b1d6997a/auth_jwt.go#L595-L602

Shouldn't it be unified?

[2018-09-13 03:10] appleboy commented on #167
You don't import `github.com/dgrijalva/jwt-go` to use `jwt.MapClaims` and only just use `MapClaims` from `gin-jwt` package.

[code]

See Readme.

[2018-09-13 03:31] actumn commented on #167
What I was going to do is like below
[code]
Compiler says, `Cannot use 'jwt.ExtractClaims(type "github.com/dgrijalva/jwt-go".jwt.MapClaims) as type "github.com/appleboy/gin-jwt".jwt.MapClaims`
So I just wonder why ExtractClaims returns `"github.com/dgrijalva/jwt-go".jwt.MapClaims`
Could you say about it?

[2018-09-13 06:45] appleboy commented on #167
I will take it.

[2018-09-14 07:10] appleboy commented on #167
@actumn See https://github.com/appleboy/gin-jwt/pull/168 PR

[2018-09-14 07:14] #167 closed

[2018-09-18 03:06] superarts opened #170 "Exception after changing IdentityKey"
Suppose I set my auth IdentityKey to "uid", call `login`, and get a token and it works for the `auth` group. Now I change my auth IdentityKey to "userid", restart server, and try to call `auth` group again.

Expected behavior should be invalid token or some other 4xx errors, but instead I got 500:

[code]

[2018-09-18 03:13] appleboy commented on #170
Could you post the example code?

[2018-09-18 12:09] Sorbing commented on #52
But it's not works(. When I use:
[code]
And try expired refreshed token after 20 seconds `JwtAuthMiddleware.RefreshHandler` - I got error:

Why? How to use the parameter `MaxRefresh`? Thanks.

[2018-09-18 16:44] superarts commented on #170
Here's my code, whereas user.IdentityKey is "uid":

[code]

The whole file can be found here: https://github.com/hindsight-inc/hindsight-api/blob/master/auth/auth.go

[2018-09-21 15:44] bjm88 opened #171 "go.mod marking this module incompatiable"
Hi - I'm upgrading from go 1.10 to 1.11 and using the new go.mod module build/version system.  I creating go.mod by using go get and go mod tidy I've found it marks this module as incompatible.

github.com/appleboy/gin-jwt v2.5.0+incompatible.  It is the only one.  Not sure what is going on, but I found it by looking into a compile warning saying jwt.New function doesnt exist, which I guess didn't

[2018-09-25 08:51] appleboy opened #172 "Support get token from url parameter"
[code]

[2018-09-25 13:50] #172 closed

[2018-09-27 10:49] kingcw commented on #171
use this format to make it work until this project is up to par with go mod's crazy global semantic versioning enforcement, v0.0.0-datetime of commit(yyyymmddhhmmss)-first 12 characters of commit hash:

github.com/appleboy/gin-jwt v0.0.0-20180925135002-56d88c181ce9

[2018-09-29 12:22] newly12 opened #174 "setCookie used fixed key "JWTToken""
hi,

I have some questions..

* can this be configurable

[code]

* in example, cookie is named as "jwt", kind of confusing and when copy the example code, it takes time to find out this inconsistence.
[code]

[2018-09-30 01:03] #174 closed

[2018-09-30 01:04] appleboy commented on #174
Already add `CookieName` in jwt package.

[2018-09-30 01:06] appleboy commented on #174
@newly12

https://github.com/appleboy/gin-jwt/blob/7e28a7a4c79817c134c7c58e656f6e498da4ce6c/auth_jwt.go#L126-L127

[2018-09-30 05:29] newly12 commented on #174
@appleboy thanks for the prompt action

[2018-10-04 16:22] oadk opened #176 "Cannot refresh expired token, even if within MaxRefresh time"
Hi,

I think that commit 59e38b5726b67025f50358879913a3a4b1a27901 (from PR #165) has introduced a change in behaviour.

Previously, the RefreshHandler would refresh an expired token, as long as it was within the MaxRefresh time.

Now, trying to refresh an expired token will always fail. This is because CheckIfTokenExpire() calls mw.ParseToken(), which calls jwt.Parse(). That library function will

[2018-10-09 21:21] buildscientist opened #179 "Document breaking API changes"
Hello @appleboy

Would it be possible for you to report breaking changes to the core API before releasing newer versions? A small mention in your release notes would go a long way.

For example - going from v2.4.0 to v2.5.0 breaks GinJWTMiddleware.Authenticator() - see the [diff](https://github.com/appleboy/gin-jwt/commit/82a3c2c3b9ee2d6f6bd9d124870873d1c6bdae88#diff-26d5c0521d0717644d4591febedddb

[2018-10-09 21:27] buildscientist commented on #179
As an aside it looks like this was also an issue in #132.

[2018-10-09 23:47] buildscientist commented on #143
@paradoxfm
I don't think gin-jwt should be responsible for revoking tokens. That seems to be outside of the scope of this library given the complexity in implementation details.

Even if the expiry of the token was kept in memory - what happens when you have multiple Gin services running? How are you going to share state between them? You'll need to roll something using Redis or similar.

That sai

[2018-10-10 00:04] appleboy commented on #179
@buildscientist OK. I will write changelog. Thanks.

[2018-10-10 00:50] buildscientist commented on #179
I don't mind helping out either. How can I get in touch with you?

[2018-10-10 00:52] buildscientist commented on #179
Nevermind - I see your email on your profile page :)

[2018-10-10 10:11] appleboy commented on #176
@oadk I will write the changelog.

[2018-10-10 10:17] #143 closed

[2018-10-12 20:07] kingcw commented on #176
for my implementation, this commit is intentional, because my app is SPA, and i call refresh handler on application load only, so if the user doesn't have a token, without this error check, backend will panic.

However, the code should work if you have a token and within MaxRefreshTime, if you look at CheckIfTokenExpire function:

[code]

the logic is correct, and i tested it before

mw.ParseToken

[2018-10-12 20:13] kingcw commented on #161
XSRF-TOKEN is a separate issue, there are many other libraries outta there, i would recommend justinas/nosurf, but the project is dead, so create a fork and bulid your own library

[2018-10-12 21:37] oadk commented on #176
The problem is that the call to mw.ParseToken on the first line of CheckIfTokenExpire always returns an error if the token has expired:

[code]

so the code that you have shown never gets executed if the token has expired.

Correct, mw.ParseToken doesn't do any MaxRefreshTime check. But it does check if the token has expired. Therefore, if the token has expired, but is within MaxRefreshTime, mw.Pa

[2018-10-12 23:15] kingcw commented on #176
I see now, jwt-go library does a hard expire token check if token expire field is named "exp" in claims.go, the proposed solution would be to add a bool variable for Parser.SkipClaimsValidation, and in mw.ParseToken function, instead of calling jwt.Parse, create a new Parser instance, pass in that bool variable, if false, you are doing a hard token expire check which depends on jwt-go library, if

[2018-10-13 00:10] kingcw commented on #176
but..., this is not really a high priority to me cause, best practice is that if a token expired, let it expire and issue a new token, my timeout and maxrefresh value are the same, so it will only refresh if token not expired.  i mean, if you use maxrefresh as your token lifespan, what's the point to have a timeout

[2018-10-13 10:32] oadk commented on #176
So, I think we are in agreement that commit 59e38b5 (from PR #165) causes the change of behaviour that I describe? (specifically: you can no longer refresh expired tokens which are within the MaxRefresh time).

Even if this change does not affect your personal use-case, it appears to be an accidental side effect of your other changes, and it affects all users of this library. It has caused us sign

[2018-10-13 14:01] kingcw commented on #176
if you are using refreshhandler function of this library, then i assume you also use TokenGenerator function of this library, which, only uses "exp" field of jwt-go validation fields, and jwt-go will only do validation on that field

if a token expires, let user re-authenticate.  The notion of refreshing token is actually to have two tokens, one access token, and one refresh token

And by that, i

[2018-10-13 15:07] kingcw commented on #176
How about this, if you could convince me that your use case MaxRefresh>Timeout, is not the same as MaxRefresh=Timeout, then i'll make the change, or you could make the change yourself and submit pr.  One more check means nothing to my use case given modern server, and i wouldn't want to break other users production use

[2018-10-14 20:17] oadk commented on #176
I think we are mixing up two different questions here:

1. What is the ideal way for the token refresh behaviour to work.

2. Should the token refresh behaviour be changed in a way that breaks production code without giving library users any prior notice.

My bug report is solely concerned with question 2. If you want to change some behaviour, at least deprecate the old behaviour and give people t

[2018-10-15 17:44] gluaxspeed opened #182 "Can not set certain GinJWTMiddleware fields"
When trying to set fields such as CookieHTTPOnly, CookieDomain, and CookieName they return an unknown field error.

[2018-10-17 14:40] appleboy commented on #182
@gluaxspeed Post your source code.

[2018-10-22 05:55] postables commented on #170
@superarts did you ever find a solution? I think I'm running into this issue right now where my `claims["id"]` is alwasy returning nil

[2018-10-22 17:10] superarts commented on #170
Just restart your server and generate new tokens.

On Mon, Oct 22, 2018, 1:57 AM potsables <notifications@github.com> wrote:

[2018-10-23 02:08] gluaxspeed commented on #182
`var authMiddleware = &jwt.GinJWTMiddleware{
	Realm:          "localhost:5555",
	Key:            []byte("tyr makes you tear"),
	Timeout:        time.Hour,
	MaxRefresh:     time.Hour * 24,
	Authenticator:  Authenticator,
	Authorizator:   Authorizator,
	Unauthorized:   Unauthorized,
	TokenLookup:    "header:Authorization",
	TokenHeadName:  "Bearer",
	TimeFunc:       time.Now,
	SendCookie:     true,

[2018-10-25 13:08] fatihkahveci commented on #176
I have same issue too. I can't refresh my token.

[2018-10-29 22:48] gluaxspeed commented on #182
Am I doing something dumb wrong? I still have yet to manage to fix this issue.

[2018-11-14 18:23] gnuletik commented on #176
Same issue for me.
@appleboy can you validate @fatihkahveci's PR ? Or choose something to do ?
Thanks :)

[2018-11-25 22:59] oadk commented on #176
Hi @appleboy , please can you validate @fatihkahveci's PR?

Thanks

[2018-11-26 04:15] appleboy commented on #176
@oadk I will take it asap.

[2018-11-26 08:37] #176 closed

[2018-11-26 08:40] appleboy commented on #182
Please update gin-jwt to the latest version. I can't reproduce this issue.

[2018-11-26 08:40] #182 closed

[2018-11-26 08:51] appleboy commented on #176
@oadk @gnuletik @fatihkahveci @kingcw Done. Please help to check the latest code.

[2018-11-26 19:56] oadk commented on #176
Hi,

Thank you for looking at the issue and merging a change. After thinking about the code more, I think the change may have a problem.

The start of `CheckIfTokenExpire()` now looks like this:
[code]

The problem is that ParseToken might fail for different reasons than an expired token (e.g. the token might be invalid for other reasons). I think that we want to check if `ParseToken` returned an

[2018-11-27 02:10] appleboy commented on #176
@oadk Sent the PR. Thanks.

[2018-11-28 09:48] oadk commented on #176
Thanks for merging the PR :)

[2018-11-28 18:19] gluaxspeed commented on #182
gluax@gluax ~/dev/tyr/backend (download-submission*) $ go get -u "github.com/appleboy/gin-jwt"
gluax@gluax ~/dev/tyr/backend (download-submission*) $ go build
# backend/api/auth
api/auth/jwt.go:25:2: unknown field 'CookieHTTPOnly' in struct literal of type "github.com/appleboy/gin-jwt".GinJWTMiddleware
gluax@gluax ~/dev/tyr/backend (download-submission*) $

[2018-12-01 20:55] arrwhidev commented on #25
Hi @philippecarle, or anyone else, did you find an elegant solution to this?

I also would like to pass a different `Authorizator` function for different groups.

Thanks!

[2018-12-08 02:47] AienTech opened #186 "Empty claims for every request"
So, as the title suggests, whenever I use `jwt.ExtractClaims(ctx)` the returning response is an empty `map[]`. I tried almost everything I could by even copy-pasting the codes in examples. Still no luck to extract the claims.

here is my middleware setup:
[code]

[2018-12-17 09:30] #186 closed

[2018-12-17 14:00] jackwener opened #187 "Could the developer offer a More detailed manual？"
Perhaps just an example can't explain its usage in great detail.Or,
Or, this library is for those skilled developers.

[2018-12-19 06:21] jackwener commented on #187
In fact ,this library must be read after the source code is understood.
I also do not understand,why is there LoginHandler in the source code?

[2018-12-21 18:10] k0fi commented on #187
Agreed. The docs not helpful (to say the least).

[2018-12-31 06:41] zokypesch opened #188 "refresh_token error when i'am pass token failed"
hi there,

iam trying to create testing file with a middleware (gin jwt), so when i'am access the page /refresh_token and then iam pass the wrong value of  prev token, i got a panic "invalid memory address or nil pointer dereference"

i check your code and i think you must validate a token
on line: 415 : token, _ := mw.parseToken(c)

because your function parseToken() retrun nil when error

maybe

[2019-01-06 19:35] achatina opened #189 "Question - Create token manually"
Hello! First of all, i want to say thanks for that lib. it's great. Anyway i have a question. How i can create jwt token and authenticate manually with it's creds. For example, after registration return token for user.

Am i right, that `authMiddleware.TokenGenerator(&UserModel{})` will do the trick?

[2019-01-06 21:33] achatina commented on #189
Ok, after some test i found that my guess was correct and with TokenGenerator i can create token manually.

[2019-01-06 21:33] #189 closed

[2019-01-07 01:11] postables commented on #187
I've used this library in my own projects, if you need some code to look at:

[setting up middleware when initializing the api](https://github.com/RTradeLtd/Temporal/blob/5d386ba89b59461181640a549b5e3e3401f83193/api/v2/api.go#L352-L353)

[handling login](https://github.com/RTradeLtd/Temporal/blob/5d386ba89b59461181640a549b5e3e3401f83193/api/v2/api.go#L375)

[using auth middleware for routes](https

[2019-01-08 15:07] lucabrasi83 opened #190 "LoginResponse required in GinJWTMiddleware struct"
Hi,

Thanks for providing this library.

I'm using latest commit 22ee6b104c71 and would like, if possible, a brief explanation on why I need to add LoginResponse in my GinJWTMiddleware struct. If I don't, I get a panic.

**Below is my function returning a pointer to a GinJWTMiddleware struct:**

[code]

**Here is my Gin Routes Declaration:**

[code]

If I don't specify a LoginReponse in my struct

[2019-01-09 00:35] lucabrasi83 commented on #190
Using tag v2.5.0 (latest release) I don't see the issue.

[2019-01-09 00:35] #190 closed

[2019-01-30 11:11] Arthur380 opened #191 "How to add Bearer before token by default ?"
Hi,
My api receive Token whitout Bearer before then it doesn't work.
My code :

[code]
Answer of random request :

code:401
message:"cookie token is empty"

But when i add manually Bearer before the token it work.

Sorry for my English.

[2019-02-19 07:56] gluaxspeed opened #194 "How to fix go mod incompatible dependency"
Go mod still marks this dependency as incompatible despite #171 saying this should be resolved. Unless you need to do something outside of **go get github.com/appleboy/gin-jwt** this should be documented in readme. As this causes people to be unable to use features such as jwt.New(&jwt.GinJWTMiddleware{}) with the error **api/auth/jwt.go:16:22: undefined: "github.com/appleboy/gin-jwt".New**

[2019-02-19 08:26] gluaxspeed commented on #194
This is fixed by ** go get github.com/appleboy/gin-jwt@ca1084e5d5a2912d883a425834a3b642c62dc9cd** which is the commit version ("but I feel this should not be needed?)

[2019-02-24 14:32] thanghng opened #195 "How do i respone claims in LoginRespone function?"
I want to respone claims value after user login success.

[2019-03-12 13:55] superbirdgz commented on #186
@AienTech i encounter the same problem, and take almost one day to googling, how do you fix this problem?

[2019-03-15 20:38] alcmoraes commented on #25
@arrwhidev you can create a single middleware and switch between its parameter:

[code]

And then, create your gin group router like this:

[code]

[2019-03-17 17:15] jackwener commented on #187
Maybe when I am free, I will consider rewriting by myself

[2019-03-28 16:24] sarovin commented on #194
I have the same issue with dep.
I have fixed it with this change in Gopkg.toml :
FROM
[code]
TO
[code]

[2019-04-01 06:55] cbarraford opened #196 "Optional JWT token?"
I've forked this repo and added a function to make having a JWT token optional, which leaves it up to the code downstream to determine if authentication is needed.
I did this because I'm using graphql, which has a single API endpoint for all API functionality. Since some of my graphql functions require authentication and some do not, I wanted to leave it up to the functions to enforce what its ind

[2019-04-01 07:05] cbarraford commented on #196
alternatively, the other way you can solve this problem within graphql (instead of making changes to this code base), you can create two graphql endpoints, one auth'ed and one without auth. I personally, don't like the idea of needing to build two graphql endpoints (it goes against one of the core concepts of graphql of the path of the url not being meaningful).

[2019-04-09 06:43] appleboy commented on #194
release the v2.6.0  See https://github.com/appleboy/gin-jwt/releases/tag/v2.6.0

[2019-04-09 06:43] #194 closed

[2019-04-11 15:12] pashinin opened #199 "Can I customize middlewareImpl or MiddlewareFunc?"
I'd like to use this extension but I want to redefine it's core function. Can I do this?

**What I actually want to do**

I want not to terminate request if JWT is wrong or empty like here: https://github.com/appleboy/gin-jwt/blob/633d983b91f09beefb1128c4558d4642a379c602/auth_jwt.go#L350

But instead let each endpoint to decide what is allowed and what is not based on context["id"] which was set b

[2019-04-18 15:39] colinaaa opened #201 "Does the godoc need to be updated?"
I was looking at [godoc](https://godoc.org/github.com/appleboy/gin-jwt) and writing my own gin service.

But it continues to report bugs, so I looked up the source code and find that there are some differences between Godoc and source code.

For example:

in Godoc, there is `IdentityKey string` in the middleware struct.

However, this field doesn't exist in the source code.

I'm willing to help, b

[2019-04-18 16:02] colinaaa commented on #201
Also, does why does PayloadFunc return the MapClaims of your module as IdentityHandler receive MapClaims of "gopkg.in/dgrijalva/jwt-go.v3"?

Does it have any specific meaning?

[code]

[2019-05-01 10:31] tomriddle1234 opened #202 "How to use Authorizator exactly ?"
I dig into source code, still cannot find any clue that when the Authorizator is called, and how to assign a custom router path for specific authorizators.

So in your Authorizator test,

`func TestAuthorizator(t *testing.T) {
	// the middleware to test
	authMiddleware, _ := New(&GinJWTMiddleware{
		Realm:         "test zone",
		Key:           key,
		Timeout:       time.Hour,
		MaxRefresh:    time

[2019-05-04 15:14] tomriddle1234 commented on #202
Just wrote a long test, followed gin-jwt github page doc, it works well as it stated. Although I couldn't recognize any source code revealing how exactly authenticator works.

[code]

[code]
[code]

[2019-05-07 04:07] thanhngvpt opened #203 "integrate error"
Hi all,
I've an exist go project so i try to add example into my project but got this error
![Screen Shot 2019-05-07 at 11 04 53 AM](https://user-images.githubusercontent.com/19367683/57271056-247d5e00-70b8-11e9-9fa1-32723e941c31.png)
But i clone then run `go run example/basic/server.go` it works well.
My current project using go mod
How to i integrate it? Is it relate to install dependencies by g

[2019-05-09 19:38] paulvollmer opened #205 "Create struct for Login and Refresh response"
At the following lines the JSON response is set by `gin.H` and i'm thinking about adding a struct to the package to better use it at other packages or for unit tests.

https://github.com/appleboy/gin-jwt/blob/633d983b91f09beefb1128c4558d4642a379c602/auth_jwt.go#L286-L304

is there any reason why the response structure is not made public to the package?

[2019-05-09 19:57] paulvollmer commented on #205
I created a branch at my branch https://github.com/appleboy/gin-jwt/compare/master...paulvollmer:jwt-response-struct

@appleboy let me know if i can send a PR.

[2019-05-10 13:23] itsmeabhilashgk commented on #186
I am getting the same error,
Any luck? @AienTech @suoerbirdgz @appleboy

[2019-05-10 13:47] itsmeabhilashgk opened #206 "Empty claims when extracting claims inside Authenticator."
I am trying to extract claims inside the Authenticator, to perform certain operations right after successful authentication - Login.

However I am getting empty claims everytime I extract them using the Extractclaims() method.

However I get the proper claim values in the Authorizatior.

Authenticator: func(c *gin.Context) (interface{}, error) {
        claims := jwt.ExtractClaims(c)
	fmt.Println(

[2019-05-18 03:06] tomriddle1234 commented on #25
@alcmoraes, could you be more detailed ?  how to distinguish normal user, admin user, guest user?

[code]

Could you explain these lines ?

[2019-05-18 04:25] tomriddle1234 commented on #25
Currently I hacked in the gin-jwt source code, like this,

[code]

[2019-06-05 07:09] tstrg opened #207 "HTTP header WWW-Authenticate realm should be double-quoted"
HTTP header WWW-Authenticate realm should be double-quoted to be valid.

The example
`Realm:       "test zone" `
should be changed to
`Realm:       "\"test zone\"",`

For reference see https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/WWW-Authenticate (includes links to RFCs)

https://tools.ietf.org/html/rfc7235#section-5.1.2 mentions the fact that the value syntax for the "realm" paramete

[2019-06-05 20:02] smilemakc commented on #194
[code]

github.com/appleboy/gin-jwt
v1.0.0
v1.0.1
v2.0.0+incompatible
v2.1.0+incompatible
v2.1.1+incompatible
v2.1.2+incompatible
v2.2.0+incompatible
v2.3.0+incompatible
v2.3.1+incompatible
v2.4.0+incompatible
v2.5.0+incompatible

where v2.6.0?

[code]

go: finding github.com/appleboy/gin-jwt 2.6.0
go get github.com/appleboy/gin-jwt@2.6.0: unknown revision 2.6.0

[2019-06-06 15:02] appleboy commented on #194
@smilemakc Try the `go get github.com/appleboy/gin-jwt/v2`

[2019-06-06 15:14] appleboy commented on #203
@thanhngvpt Please try the go get `github.com/appleboy/gin-jwt/v2`

[2019-06-06 15:14] #203 closed

[2019-06-07 10:03] 107g opened #208 "Importing module with go get fails"
Hello,

I get the following error when trying to import the module using go get:

[code]

I haven't had that issue with any other Go module I had to install.

[2019-06-07 11:35] Sadzeih commented on #208
I have the same issue!

[2019-06-07 12:50] peuek commented on #208
We have issues with that also

[2019-06-07 17:31] appleboy commented on #208
Fixed in https://github.com/appleboy/gin-jwt/commit/1806244dcfbb126cef480b234b23093494bd3df0

[2019-06-07 17:31] #208 closed

[2019-06-07 17:39] appleboy commented on #208
bump to version v2.6.1

[2019-06-09 22:57] estebanborai commented on #194
Hi, I had the same issue and installed the package without `/v2` (`go get github.com/appleboy/gin-jwt`).

Then ran `dep ensure` and got the dependencies running in my project.

My Gopkg.lock have a reference to `gin-jwt`:

[code]

But Gopkg.toml have no references to the same.

[2019-06-17 16:28] Alv3s opened #210 "go get github.com/appleboy/gin-jwt/v2 doesn't seem to work"
I'm new to go, but this is my first time facing this kind of issue, and since it's very basic, I'm not sure what the issue is about. Tryign to install this library always gets me the following error:

[code]
Go Get is working fine with other packages (tried on two different machines).

[2019-06-17 20:43] alanihre commented on #210
I am facing the same problem but I managed to solve it by going to $GOPATH\src\github.com\appleboy\gin-jwt and putting all the files inside a catalog called "v2.

[2019-06-18 05:39] LucasFrecia commented on #210
It works if you remove the /v2.

`go get github.com/appleboy/gin-jwt`

[2019-06-19 01:45] appleboy commented on #210
@Alv3s @alanihre @LucasFrecia Hi guys, Do you use the go module or vendor tool like `dep` or `govendor`?

[2019-06-19 06:24] mthizozo opened #212 "Cookie token is empty in production only but works locally"
Hi I am getting this error after deploying my app to openshift
{
    "code": 401,
    "message": "cookie token is empty"
},

but the exact same code works fine when i run it locally.

I am using Authorization header authentication

[2019-06-19 06:25] mthizozo commented on #212
Does this library work differently in production ???

[2019-06-19 13:54] appleboy commented on #212
@mthizozo There is no different in production or development. Can you show some detail information or example code?

[2019-06-20 14:38] TGPTIAlves commented on #210
I use govendor

[2019-06-22 15:52] alanihre commented on #210
I use go modules.

[2019-06-26 07:53] sirius1024 commented on #210
Go Modules same here. It doesn't work with /v2.
And worked with
[code]

[2019-06-29 14:33] appleboy commented on #210
I can't reproduce the issue. I try the following steps and got nothing. See the [example](https://github.com/appleboy/gin-jwt/blob/master/example/basic/server.go).

[code]

See the `go.mod`

[code]

[2019-07-02 09:23] tomriddle1234 commented on #210
confirm not working, I don't use any package management, just,
go get github.com/appleboy/gin-jwt/v2

[2019-07-02 09:35] sirius1024 commented on #210
@appleboy Any help for you? Maybe the GOPROXY?

[code]

[code]

[2019-07-05 08:54] viseth opened #213 "how to handle the log out ?"
Hi,

Thanks for the great work !
Login works fine but it looks like there is no lougoutHandler ?
Currently I'm dealing with the localstorage once logged in and delete the localstorage once logged out. But what would be the best approach for it security wise ?

Thanks,
Reagrds,

[2019-07-11 00:26] carloslfu commented on #210
@sirius1024, same here. It worked by replacing the import with `"github.com/appleboy/gin-jwt/v2"`, I hope it helps.

[2019-07-11 00:53] appleboy commented on #210
Hi All,

## for go module

[code]

## without go module

[code]

I will update the document.

[2019-07-11 01:34] #210 closed

[2019-07-18 11:09] #213 closed

[2019-07-25 10:49] playkang opened #215 "When are you requesting a refresh token?"
If the token timeout is reached, a 401 error will appear when requesting a refresh token.

I know that request a refresh token after the token is expired , but gin-jwt does not seemed to be.

If so, when should I make a refresh token request?

Do I have to process the client internally before it expires?

[2019-08-07 07:33] lonycc opened #216 "in the example server.go, when i invoke some route not in the auth group, it still return 401?"
i think only the auth group router need authorizate,

[2019-08-12 16:03] jimfilippou commented on #120
I am still facing this issue...

[2019-08-12 16:42] jimfilippou commented on #187
Please provide a manual, I find it difficult to implement JWT through just one example

[2019-08-12 17:54] jimfilippou opened #217 "Question: Why this is code separated from outer scope?"
Why this piece of code is like this in the example?
The fact that we create a new scope has no purpose in this specific example. Is there any reason for this?
[code]

[2019-08-12 22:32] appleboy commented on #120
@andofcourse @jimfilippou what is your vendor tool?

[2019-08-19 08:18] twellick commented on #196
We are using GraphQL aswell with optional authentication.
This would be cleanest way to solve it while keeping a single GraphQL endpoint.

Thoughts? @appleboy

[2019-08-20 12:56] #216 closed

[2019-08-21 01:07] Bigyin1 opened #218 "Question: What about asymmetric algorithms in this library?"

[2019-09-01 22:00] ewgRa opened #220 "Refresh Token implementation and RFC 6749"
As far as I see gin-jwt consider Access token as same as Refresh token.
When we login, in response we can find a token that later we can send to refresh endpoint.
Additionally, we have also MaxRefresh settings, that allows us to refresh token, even if it is expired.
As far as I understand this approach increases security risks. The idea of refresh token - get it once, hide it better than access to

[2019-09-03 01:20] codlin opened #221 "the Key of GinJWTMiddleware"
Hi,
regarding the below code:
[code]
does the Key can be random bytes? For example, when main function started, I generate a random string instead of querying from a database, then I pass the string to the Key parameter. the Key is different evrytime when program restarted.

Thanks

[2019-09-20 10:36] #221 closed

[2019-10-21 00:38] goors commented on #186
same here

[2019-10-23 10:14] viseth commented on #81
@DevAlone yes but this will set the timeout for one year only, what happens after one year...

@appleboy : thanks for this amazing work. For setting token that never expires, do you provide something like "Timeout: 0,"?

[2019-10-27 17:41] cliedeman commented on #196
[code]

Seems to work.

[2019-11-20 13:48] #212 closed

[2019-12-19 08:03] techt3 opened #226 "Question: 2FA implementation"
Can you provide example how to use 2FA with gin-jwt ? As i'm guessing there should be possible to create half-logged in state, where i should create hook for full authentication.

[2020-01-06 17:22] dan-leech opened #228 "deleted belogik/goes which in go.sum"
github.com/belogik/goes has not existed anymore, please clean up go.mod and go.sum

[2020-01-07 07:35] yenayai commented on #228
Please clean up github.com/belogik/goes as soon as possible. Thanks

[2020-01-07 08:41] Kyocfe commented on #228
how can i remove belogik/goes in go.sum file
go.sum file is always auto generated including belogik/goes

[2020-01-07 09:20] nickkeers commented on #228
It looks like appleboy's gofight dependency needs to be updated to point to https://github.com/astaxie/beego v1.12.0 which has been updated to use "github.com/OwnLocal/goes v1.0.0" in its go.mod file instead of belogik/goes

[2020-01-07 10:47] trileminh94 commented on #228
Please merge the pull request as soon as possible. Thanks

[2020-01-07 16:34] #228 closed

[2020-01-20 12:21] agubarev opened #230 "`go get` fails with a build error"
go get -v -u gopkg.in/appleboy/gin-jwt.v2

[code]

[2020-01-21 09:34] bipinktr commented on #230
Same issue here as well, the issue was not there couple of days back, but now the issue is coming when trying to build.
`# github.com/appleboy/gin-jwt
/go/src/github.com/appleboy/gin-jwt/auth_jwt.go:457:14: not enough arguments in call to c.SetCookie
        have (string, string, int, string, string, bool, bool)
        want (string, string, int, string, string, http.SameSite, bool, bool)
/go/src/

[2020-01-21 10:51] agubarev commented on #230
@bipinktr yes, same; it's strange because I first got this error yesterday, although the last commit which affected SetCookie() was on the 20th of November.

https://github.com/appleboy/gin-jwt/commit/d59ede46f6477186c4c2ff7e65d9f889e1e525ad

[2020-01-21 14:38] bipinktr commented on #230
@agubarev I have solved the issue by implementing go modules [https://blog.golang.org/using-go-modules](https://blog.golang.org/using-go-modules) .

[2020-01-21 17:03] agubarev commented on #230
@bipinktr yes, same, I posted just to notify. thanks for sharing.

[2020-01-26 04:30] prernapreeti964 commented on #230
I have not used modules and imported this directly in the code as below:
`package controller

import (
	"encoding/base64"
	"encoding/json"
	"errors"
	"log"
	"net/http"
	"strings"
	"time"
	jwt "github.com/appleboy/gin-jwt"
    )`

My CI pipeline is breaking because of the same error in building:
`Step 26/34 : RUN GOOS=linux GOARCH=amd64 CGO_ENABLED=1 go build -ldflags="-w -s" -o main
 ---> Running

[2020-01-28 03:59] qaisjp opened #231 "`go mod tidy` fails"
I get this:

[code]

This might be an issue with upstream but doesn't seem likely

[2020-01-28 05:58] qaisjp commented on #231
Got angry, deleted my `go.mod` and `go.sum`. Cleaned my modcache. Did a `go mod tidy`. Got this:

[code]

[2020-01-28 06:03] qaisjp commented on #231
Then re-read the README. Works fine if I import `"github.com/appleboy/gin-jwt/v2"` not `"github.com/appleboy/gin-jwt"`. Gadammit, Go.

[2020-01-28 06:03] #231 closed

[2020-01-31 15:51] Arthur380 opened #232 "Error with sameSite"
Hi,

I have the following errors when i compile my go app.

[code]

I know that this issue can be solved if we add http.SameSiteLaxMode, but I use docker environment and then I would prefer to not modify the gin-jwt sources.

If you can help me, thanks.

[2020-02-04 05:43] karimabedrabbo opened #233 "Better explanation of the functions/handlers within the library and their purpose"
[code]

[code]

[code]

[code]

[code]

Please correct in the comments if I got anything wrong.

PS. Also to answer a tangent question on how to authorize different endpoints for users with different roles, I found the best solution was just to manually make another middleware wrapper (like "SysadminAuthorizerMiddleware") where the normal authorizator runs (which most regular users should pass), a

[2020-02-07 14:59] andyinabox opened #234 "Allow callback function for Key"
**TL;DR:** Add a `KeyFunc` callback that takes the JWT as an argument and can be used in place of `Key`

I'm working on an implementation that uses a JSON Web Key (JWK) to validate my JWTs. There's a pretty good breakdown of this flow in ["Navigating RS256 and JWKS"](https://auth0.com/blog/navigating-rs256-and-jwks/) (auth0 blog).

Since my implementation will use Gin, it would be great to use gin

[2020-02-09 15:35] GTANAdam commented on #233
I approve, without proper documentation it is quite confusing what each function does.

[2020-02-16 20:44] ovalverde commented on #230
This is happening due to change on method spec in go-gin https://github.com/gin-gonic/gin/commit/07c0f05f244589ff4a02320a01ad0a1fc102cbd5

To fixed this i upgraded my project to use mod as stated above. It is also important that if you   are migrating from a no go mod project you should also update your import path to be github.com/appleboy/gin-jwt/v2

[2020-02-23 21:10] agubarev commented on #230
@ovalverde thanks for your response.

[2020-02-24 02:01] appleboy commented on #230
@agubarev any other problem?

[2020-02-25 23:02] theriverman commented on #233
I highly support this proposal.
Documentation is quite lacking and I have no clue on many things inside this library.

[2020-02-28 09:47] #226 closed

[2020-03-06 13:13] JamesPiggott opened #236 "Assymmetric key validation should have to use private key file"
I am trying to implement an asymmetric validation middleware that uses RS256. In theory this should only need the public key to verify the JWT, but not including the private key does not work. I do not want to include the private key with the project. Below is my implementation.
`	authMiddleware, _ := app.New(&app.GinJWTMiddleware{
		Realm:            "zone",
		SigningAlgorithm: "RS256",
		PrivKey

[2020-03-25 13:34] kjozic commented on #230
I use modules but I have the same problem.

The problem is that gin (version 1.6.1) has a prototype `SetCookie (name, value string, maxAge int, path, domain string, sameSite http.SameSite, secure, httpOnly bool)` and gin-jwt (version 2.6.3) calls function as `SetCookie (mw.CookieName, tokenString, maxage, "/" mw.CookieDomain, mw.SecureCookie, mw.CookieHTTPOnly, )`.

So, the function call is missin

[2020-03-25 13:36] kjozic commented on #232
This is related to issue #230.

[2020-03-25 14:17] appleboy commented on #232
I will take it.

[2020-03-25 14:40] appleboy commented on #230
@kjozic I will take it.

[2020-03-26 17:09] PhantomX7 commented on #230
@appleboy is there any estimation time for this feature to be fixed?

[2020-03-26 18:27] kjozic commented on #230
As a temporary fix, you can downgrade gin to a version v1.5.0 in your go.mod file:
[code]

Don't forget to download a specific version (`go get github.com/gin-gonic/gin@v1.5.0`).

[2020-03-27 01:00] appleboy commented on #230
gin-jwt only support gin v1.5 not upgrade to v1.6 now.

[2020-03-27 01:11] appleboy commented on #230
duplicated of #232

[2020-03-27 01:11] #230 closed

[2020-03-27 01:43] appleboy commented on #232
See https://github.com/gin-gonic/gin/issues/2299

[2020-03-27 03:16] #232 closed

[2020-03-29 02:52] appleboy commented on #233
@karimabedrabbo Can you send PR to improve documentation?

[2020-03-29 02:56] lucky51 opened #240 "not enough arguments in call to c.SetCookie"
![image](https://user-images.githubusercontent.com/27793729/77839036-e85d5b00-71ab-11ea-8eb3-faf69a1fe057.png)

go build  github.com/appleboy/gin-jwt/v2 ..\..\golang\pkg\mod\github.com\appleboy\gin-jwt\v2@v2.6.3\auth_jwt.go:457:14: not enough arguments in call to c.SetCookie

env : go SDK 1.14    ,gin v1.6.0

c.SetCookie(
			mw.CookieName,
			tokenString,
			maxage,
			"/",
			mw.CookieDomain,

[2020-03-29 03:18] appleboy commented on #240
@lucky51 Please upgrade gin version to v1.6.2

https://github.com/gin-gonic/gin/releases/tag/v1.6.2

[2020-03-29 03:18] #240 closed

[2020-03-29 21:56] karimabedrabbo commented on #233
Done @appleboy

[2020-04-15 19:57] aesadde commented on #236
@JamesPiggott I've been trying to do the same. No need to use private key if the service only needs to extract claims and validate the token.

For now I've resorted to my own solution but it would be nice to have the option here as well.

[2020-04-20 06:40] yarcowang opened #243 "May also need extra user information but not just the token"
I'm using `github.com/appleboy/gin-jwt/v2 v2.6.3`
Part of the Authware definition is like this:
[code]
It seems you suppose user want the token as `the data` for there's no way to get `user` information.
Though, as a backend developer, I can get everything I need, the frontend may also need something else (like roles/permission to show/hide something, which I don't want to do another query because

[2020-05-01 15:14] lihaotian0607 commented on #234
I think it ’s good, but why was it rejected?

[2020-05-16 02:26] DanielKrolopp commented on #236
I have the same issue. I've found that including a dummy private key works---as long as it is a valid key (ie: all '0's doesn't work). I just generated a random one from here: https://travistidwell.com/jsencrypt/demo/ and included it with my project as a placeholder until this bug is resolved.

[2020-05-28 15:16] Djolivald opened #247 "SameSite cookie Flag"
Hi,
I know this has been addressed in https://github.com/appleboy/gin-jwt/pull/237 but the PR has been closed without being merged. Now there is https://github.com/appleboy/gin-jwt/pull/242 opened for the Same thing.

Gin 1.6 is out now and the default behaviour in chrome (for now `SameSite=None`) is going to [change as from chrome 76](https://www.chromestatus.com/feature/5088147346030592) (planne

[2020-05-28 15:22] Djolivald commented on #215
I have the same issue, the cookie expiry is set to the token time, which does not allow to renew the token after its expiry (but still before the `MaxRefresh` time) as the web browser is ditching the expired cookie... The cookie time should probably be `MaxRefresh` instead of `Timeout`

[2020-06-05 08:17] JorritSalverda opened #248 "Cookie max age should be calculated using TimeFunc"
Send SendCookie code in the `LoginHandler` calculates `maxage` with `time.Now()` instead of the `TimeFunc()` which leads to an incorrect value if you use set `TimeFunc` to `time.Now().UTC`.

See code at
https://github.com/appleboy/gin-jwt/blob/f4a6a29facaafb6cc77c7123a8feeaa1064a77d8/auth_jwt.go#L464

Current:
[code]

Should be:
[code]

[2020-06-06 02:16] #248 closed

[2020-06-11 16:18] Djolivald commented on #247
Hey @appleboy, sorry to @ you but just wanted to bring out attention on this.

[2020-06-12 02:10] appleboy commented on #247
OK I will take it.

[2020-06-12 09:26] leeyjeen opened #250 "(Question) after LoginHandler, can i have a handler chain parsing 'token' value?"
Hey, can I ask you a question?
I'm in the process of writing REST APIs with go-gin, gin-jwt, and now I'm in charge of writing a API which does login and then calls another handler chain that will process business logics with using bearer token which was from the response of login handler sequentially.

router handler chain is like this..
[code]

LoginHandler returns
[code]

and I want to get "toke

[2020-06-15 09:02] #250 closed

[2020-06-15 09:05] leeyjeen commented on #250
I was stupid. I found that I can customize mw.LoginResponse and solved it by adding c.Set("token", token).

[2020-06-20 12:00] ewgRa commented on #220
Any update?

[2020-07-14 08:48] Djolivald commented on #247
Hey @appleboy, any news on the merge status for this?

[2020-07-14 08:55] appleboy commented on #247
@Djolivald Sorry to forget this issue. I will update asap.

[2020-07-15 15:19] appleboy commented on #247
See https://github.com/appleboy/gin-jwt/commit/fd0cbae1903aaf9ebdf74a6cfdc1f0fcd5080b34

[2020-07-15 15:19] #247 closed

[2020-07-27 09:21] hahait opened #253 "Url whitelist without token check"
// On the premise of registering MW.MiddlewareFunc() as global middleware, partial url token - free authentication is implemented

[code]

// Add the following method to verify that the url currently requested is in the URL whitelist
[code]
[code]

[2020-08-04 08:45] Djolivald commented on #247
@appleboy do you plan on making a release for that? I'm depending on master for now.

[2020-08-04 09:02] appleboy commented on #247
@Djolivald See https://github.com/appleboy/gin-jwt/releases/tag/v2.6.4

[2020-09-01 07:28] Rogary opened #255 "if enable PrivKeyFile or PubKeyFile developer should call MiddlewareInit()"
if we enable ```PrivKeyFile``` or ```PubKeyFile```
developer should  call  ```authMiddleware.MiddlewareInit() ``` after defind  by themself

please add this into example or docs

[2020-09-01 07:56] #255 closed

[2020-09-17 09:18] #191 closed

[2020-10-05 13:20] abserari opened #256 "In the Readme, use jwt.New which include run MiddlewareInit(), Consider delete the duplicate call in the follow code."

[2020-10-07 05:36] #256 closed

[2020-10-10 09:58] appleboy commented on #253
I will take it.

[2020-10-17 03:41] mclxly commented on #243
My Solution:
`
c.Set("UserData", user)
...
user, exists := c.Get("UserData")
`

[2020-10-18 13:23] Veerse commented on #243
Works well, I've put c.Set() more precislley in Authenticator

[2020-11-03 13:40] meruiden commented on #220
Any update? it has been more then a year since the initial request for this feature

[2020-11-30 03:50] deshmukhrajvardhan opened #260 "Security concerns with HS256"
Can we change the default Algorithm:
https://github.com/appleboy/gin-jwt/blob/6f3e50b5ce92fceb2a7450f8cf28926dcd39b523/auth_jwt.go#L29

As it has known vulnerabilities and tools to hack: https://github.com/lmammino/jwt-cracker

[2020-11-30 06:25] #260 closed

[2020-12-07 03:01] DasyDong opened #262 "The demo not works , send login request and return 404?"
I download gin-jwt repo, and go run _example/server.go

then send a login request
[code]
I get the 404 response
[code]

What's the correct path to use jwt?

[2020-12-25 08:38] duzhipeng commented on #262
`printf '{"username":"admin","password":"admin"}'| http  --follow --timeout 3600 POST 'localhost:8000/login' \
 Content-Type:'application/json'`

[2020-12-26 02:16] #262 closed

[2021-01-13 14:22] samherrmann opened #264 "jwt-go not being actively maintained"
It looks like [jwt-go](https://github.com/dgrijalva/jwt-go) is not being actively maintained anymore. I came across a note on [Auth0's go-jwt-middleware project](https://github.com/auth0/go-jwt-middleware#go-jwt-middleware), who are also using jwt-go, that they are planning to move to a more actively maintained package in the near future. Are there any plans to migrate to an alternative for this p

[2021-01-14 16:44] samherrmann opened #265 "LoginHandler assumes type of error from Authenticator"
The following is the snippet of code from [line 437-442 in auth_jwt.go](https://github.com/appleboy/gin-jwt/blob/v2.6.4/auth_jwt.go#L437), within the LoginHandler function:

[code]
The snippet shows that the login handler assumes that if the Authenticator function returns an error, that the code to return to the client is a 401 (Unauthorized error). The Authenticator function may be accessing a da

[2021-01-14 19:28] samherrmann commented on #265
I just noticed in option 1 that this only works as long as the errors have static messages. For dynamic errors where the message string may be different, it becomes difficult to detect in the `Unauthorized` function what went wrong in the `Authenticator` function.

[2021-01-19 02:04] samherrmann opened #266 "gin-jwt should set the TimeFunc in jwt-go"
Both the gin-jwt library and the underlying jwt-go support a `TimeFunc`. By default, they are both initialized to `time.Now`.

https://github.com/appleboy/gin-jwt/blob/v2.6.4/auth_jwt.go#L272:
[code]

https://github.com/dgrijalva/jwt-go/blob/v3.2.0/token.go#L13:
[code]

gin-jwt should ensure that `TimeFunc`  of each library are the same.  If the two functions are not the same, it's possible for [g

[2021-01-20 02:22] samherrmann commented on #264
[Here is the same issue](https://github.com/go-chi/jwtauth/issues/50) for the `go-chi/jwtauth` library. They moved to https://github.com/lestrrat-go/jwx.

[2021-02-10 12:09] cedricve commented on #199
interested in this as well

[2021-02-10 14:21] cedricve opened #268 "support for leeway?"
Could we have leeway included? This makes sense if you are sharing JWT tokens between different services and have not a synced clock.

[2021-03-17 13:06] ptrnov opened #269 "github.com/appleboy/gin-jwt"
On Mac issue - SetSameSite undefined
github.com/appleboy/gin-jwt/auth_jwt.go:494:5: c.SetSameSite undefined (type *gin.Context has no field or method SetSameSite)
github.com/appleboy/gin-jwt/auth_jwt.go:516:5
github.com/appleboy/gin-jwt/auth_jwt.go:587:5

[2021-04-17 15:02] merfrei commented on #220
For the same reason I have decided not to use it and implement my own. A shame.

[2021-04-17 15:06] gnuletik commented on #220
@appleboy would you consider merging a PR implementing this ? That would be a breaking change for v3.0 I guess.

[2021-04-22 15:46] colonelpopcorn commented on #195
I need this as well, I need to optionally send some things back when a user is of a certain type. Currently the `ExtractClaims` function returns an empty map in the LoginResponse function. Maybe you could expose a function to parse a token string?

[2021-04-22 19:11] colonelpopcorn commented on #243
That's a good solution, and it may be good enough to close #195. Thoughts @appleboy?

[2021-04-27 00:43] appleboy commented on #243
@colonelpopcorn Yes, Thank you for reminding me.

[2021-04-27 00:43] #243 closed

[2021-04-27 00:43] appleboy commented on #195
See the solution #243

[2021-04-27 00:43] #195 closed

[2021-05-16 12:25] axispx opened #273 "Send a WWW-Authenticate header when the response code is 401"
Since, the default Unauthorized function does not send WWW-Authentication header when the status code is 401, it doesn't work with some http clients. Requesting you to look into this.

For reference: https://developer.mozilla.org/en-US/docs/Web/HTTP/Status/401

I can create a PR if you think this should be a default.

Thanks.

[2021-05-19 10:00] renta opened #274 "Authenticator and PrivateKey should not be required by default"
Authenticator function and private key are required now if you want to use this middleware in a Gin project. But sometimes your application does not issue JWT-tokens, refresh and destroy them (especially in a microservice architecture where this functions usually do a separate service), but only needs an ability to read the token and extract claims from it. In such a case you just should provide a

[2021-05-19 20:54] renta commented on #274
This task could be done with such a middleware: https://gist.github.com/renta/e6c3a67f40a3a8edd251c8c804293c7e

[2021-05-20 21:20] j0hnwhyte commented on #220
The current implementation isn't also clear on how to treat the id token when the access token expires.

[2021-06-13 03:31] anarchyrucks commented on #220
This issue makes this package non usable for me.

[2021-06-23 02:39] DasyDong commented on #216
Hi @lonycc  have you fixed the question? I met the same issue here , when i visit a route that not in site, the jwt took over control the route。I expect return 404, but i receive 401 code
[code]

[2021-07-03 19:24] #201 closed

[2021-08-06 21:48] bnweiss opened #276 "confused by Timeout and MaxRefresh"
What kind of setup with this middleware results in a user being forced to authenticate after 1 hour of time despite refreshing every 10 minutes?  It seems like the refresh works indefinitely as long as it occurs within the MaxRefresh window (which resets with each refresh).  I would expect a refresh after 1 hour to kick back an error but this doesn't seem to be the case.

Perhaps I am using the re

[2021-08-27 07:50] JorritSalverda opened #277 "Migrate to github.com/golang-jwt/jwt/v4 to address CVE-2020-26160"
`github.com/golang-jwt/jwt` is a drop-in replacement for `github.com/dgrijalva/jwt-go`.

Version 4 - see https://github.com/golang-jwt/jwt/blob/main/MIGRATION_GUIDE.md - fixes vulnerability [CVE-2020-26160](https://github.com/dgrijalva/jwt-go/issues/463) and does away with [checking the _issued at_ time](https://github.com/dgrijalva/jwt-go/issues/314), which is not supposed to be checked according

[2021-08-27 12:14] #277 closed, assigned to nobody

[2021-10-06 09:29] martinlindhe commented on #264
There is also the community driven fork at https://github.com/golang-jwt/jwt

[2021-10-08 07:53] afeish opened #281 "signature is invalid"
![image](https://user-images.githubusercontent.com/12878595/136513397-a3d40abf-8854-4f33-ac6d-a3a0f667fd86.png)

Hi, I am use jwt-go to do my authentication. Everything seems fine unitl today I find a strage phenomenon.

I use curl to do the PUT request twice with the exact request parameters. But the first request was rejected by jwt. and the second one succeed.  As you can see the above screen i

[2021-10-11 06:52] lyspj commented on #264
It looks like a PR from JorritSalverda was merged in August that switches from dgrijalva/jwt-go to golang-jwt/jwt (thanks @JorritSalverda and @appleboy !) https://github.com/appleboy/gin-jwt/pull/278

(BTW it looks like that commit is causing the tests to fail in the master branch due to differing error strings: https://cloud.drone.io/appleboy/gin-jwt/122/2/2 ).

[2021-11-09 14:19] bery commented on #81
@viseth why don't you try to set expiration to 100 years?

[2021-11-14 20:49] gipsh opened #283 "Is it possible to use this middleware with two different token issuers ?"
Hi,  i have been using the library for my api succesfully, now i want also support tokens issued by another platform (azure AD).
So i need to check if the signature of the token is valid for my own issued tokens AND from the other platform.

Is there an easy way to support this?

i already tried using two middlewares to validate with no luck

[code]

What the best strategy here? create a new middl

[2021-12-17 17:09] majidbl opened #284 "wrong gofight path"
there is a issue with gin-jwt and gofight with this error massage
  github.com/appleboy/gin-jwt tested by
        github.com/appleboy/gin-jwt.test imports
        gopkg.in/appleboy/gofight.v2: gopkg.in/appleboy/gofight.v2@v2.1.2: parsing go.mod:
        module declares its path as: github.com/appleboy/gofight/v2
                but was required as: gopkg.in/appleboy/gofight.v2

GOVERSION=go1.16

[2021-12-17 17:40] kiuKisas commented on #265
Up ! Just been through this issue while using your middleware. Does something is plan for that ? Couldn't we return a code through a third optional value ? (I mean `*int`). Seems the most straightforward way for me, I can make a PR if you want to.

[2021-12-28 01:13] robertzhangwenjie commented on #99
i have the same question

[2022-01-02 02:36] colmex commented on #196
@cliedeman This worked for me! Thanks!

[2022-02-22 22:51] #276 closed

[2022-03-12 08:50] moluzhui opened #285 "How to get claim message in LogoutResponse"
How to get claim information in `LogoutResponse` in order to parse the data for some information?

[2022-03-22 04:03] re-Tick opened #286 "Add ParseOption in order to skip claim validation in jwt.Parse method"
I am trying to test my API's which are having different expiration time, so I had written my custom MiddlewareFunc. Claims will be validated in this custom function that's need to avoid validation in ParseWithClaims method.
 If you approve this, I will make a PR for this.

[2022-03-22 07:44] re-Tick commented on #286
I have made a PR for this issue. Please review it.

[2022-04-01 15:40] lkgGitHub opened #288 "Logout failed"
I added in the sample code logout. When I logout, I can still access the Hello interface.  What I expect is that I can't access the interface after I log out.

**evn:**
go version: go1.18
os: mac 10.15.7

**code**
[code]

[2022-04-25 15:45] k0mmsussert0d opened #289 "Option to set a session cookie"
Hi!
While using this code in my project I noticed there is no explicit option to omit both `Max-Age` and `Expires` parameters in a cookie handed-out when `SendCookie` parameter is set to `true` making it a [session cookie](https://developer.mozilla.org/en-US/docs/Web/HTTP/Cookies#define_the_lifetime_of_a_cookie). After looking through the code briefly I found `CookieMaxAge` parameter inside `GinJW

[2022-05-11 03:42] samsulbahari commented on #288
Have you found a solution?

[2022-05-19 05:54] ce2cs opened #291 "How to get token in register handler?"
New to web development. I was wondering how to get token if I need respond token in register API. I do not use the middleware in register router we cannot get a token before we register an account.

[2022-05-20 12:45] storytellerGIT commented on #291
you may have a look at func (mw *GinJWTMiddleware) TokenGenerator(data interface{}) (string, time.Time, error)

[2022-05-24 11:48] 2w1nd opened #292 "How do I get multipart/form-data's token？"
![image](https://user-images.githubusercontent.com/64266855/170027406-7c02ee40-ffac-4157-91bf-a79349c702d5.png)
my token in form-data，but TokenLookup seem no support it
[code]

[2022-05-25 09:02] Starballoon commented on #292
Ha, I just want to raise an issue about this problem. I guess that you have joined the training camp organized by ByteDance also.
I modified a function of the 'auth_jwt.go' file as following to add an option to get token from form data in the request body.
[code]

[2022-05-25 11:40] 2w1nd commented on #292
yes, you are right, I also participated. I should read the source code carefully😂

[2022-05-25 13:05] #292 closed

[2022-06-09 08:49] somenzz commented on #215
You put refresh_token in the auth group, just move it out。

[2022-07-08 07:53] thangld322 commented on #288
Can anyone answer please?

[2022-07-11 13:13] ostatsu opened #295 "The correct spelling of the parameter "Authorizator" might be "Authorizer""

[2022-07-19 22:01] rohfle commented on #288
There are a couple of limitations that I can see with JWTs by default
- Tokens will continue to work until they timeout even after logout
- You can use a token that has been "logged out" to refresh indefinitely
- There is no way to tell how many sessions you have active

You would need some sort of storage (redis, database, memory) to track sessions and revoked / logged out tokens until they timeo

[2022-07-26 03:19] Danny5487401 opened #296 "time zone reset again when using the TokenGenerator method"
![image](https://user-images.githubusercontent.com/64348131/180915659-a600ecfe-7569-446e-a718-c2b4fd1c39da.png)

it will be good to delete the  time.UCT()  in the TokenGenerator

[2022-08-05 01:56] #288 closed

[2022-09-27 11:08] tomriddle1234 opened #304 "invalid memory address or nil pointer dereference on LoginHandler"
Here's the error message, seems it is from system?
v2.8.0, gin 1.8.1, go 1.18.1, ubuntu 20.04 64 virtual machine.

[code]

The problem seems for my own code it is from the Authenticator, like so, followed the example

[code]

From the error message, error from the LoginHander, like so
[code]

[2022-09-28 03:46] tomriddle1234 commented on #304
Solved this issue, I was using my old code that there's no initiation for gin-jwt jwt.GinJWTMiddleware, after added

[code]

The issue is gone.

[2022-09-28 03:46] #304 closed

[2022-10-31 02:13] oneinstack opened #307 "How to add HMAC (AK/SK) authentication method on the basis of existing gin-jwt？"
Can it support both gin-jwt and HMAC (AK/SK) authentication functions?